body {
    background-image: url("../Images/Backgrounds/blue_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.navbar {
    background-color: darkblue;
    padding: 10px;
}

.navbar .container .navbar-brand {
    width: 50px;
    height: 50px;
}

.navbar .container .navbar-title {
    font-weight: bold;
    font-size: x-large;
    color: white;
}

.navbar .container .navbar-toggler {
    background-color: white;
    color: purple;
}

.navbar .container .collapse .navbar-nav .nav-item {
    display: block;
    list-style-type: none;
    margin: 2px;
    padding: 5px;
}

.navbar .container .collapse .navbar-nav .nav-item:nth-child(even) {
    background-color: mediumpurple;
}

.navbar .container .collapse .navbar-nav .nav-item:nth-child(odd) {
    background-color: dodgerblue;
}

.navbar .container .collapse .navbar-nav .nav-item .navbar-item-image {
    max-width: 50px;
    max-height: 50px;
    padding-right: 5px;
}

.navbar .container .collapse .navbar-nav .nav-item .navbar-item-text {
    font-weight: bold;
    font-size: large;
    color: white;
}

.account {
    background-color: lightgrey;
    margin: 30px;
    text-align: center;
}

.account .account-header {
    position: relative;
    background-color: darkgrey;
    padding: 20px;
}

.account .account-header .account-title {
    color: purple;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}

.account .account-header .account-title:hover {
    color: white;
}

.account .account-header .swap-btn {
    position: relative;
    top: -5px;
    background-color: transparent;
    border: none;
}

.account .account-header .swap-btn .swap-image {
    max-width: 45px;
    max-height: 45px;
}

.account .account-input-fields {
    padding: 10px;
    margin: 10px;
}

.account .text-input .input-group-text {
    background-color: dimgrey;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}

.account .account-input {
    font-size: large;
    border: 2px solid black;
}

.account .validation-button {
    width: 50px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: forestgreen;
}

.account .gender-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    padding: 0 20px;
}

.account .gender-options .radio-button {
    transform: scale(1.5);
    margin: 0 10px;
}

.account .action-buttons {
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 20px;
}

.account .action-buttons .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 55px;
    font-size: x-large;
    margin-left: 10px;
}

.account .action-buttons .btn a {
    color: white;
    text-decoration: none;
}