body {
    background-image: url("../Images/blue_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.navbar {
    background-color: darkblue;
    padding: 10px;
}

.navbar .container .navbar-brand {
    width: 50px;
    height: 50px;
}

.navbar .container .navbar-title {
    font-weight: bold;
    font-size: x-large;
    color: white;
}

.navbar .container .navbar-toggler {
    background-color: white;
    color: purple;
}

.navbar .container .collapse .navbar-nav .nav-item {
    display: block;
    list-style-type: none;
    margin: 2px;
    padding: 5px;
}

.navbar .container .collapse .navbar-nav .nav-item:nth-child(even) {
    background-color: royalblue;
}

.navbar .container .collapse .navbar-nav .nav-item:nth-child(odd) {
    background-color: dodgerblue;
}

.navbar .container .collapse .navbar-nav .nav-item .navbar-item-image {
    max-width: 50px;
    max-height: 50px;
    padding-right: 5px;
}

.navbar .container .collapse .navbar-nav .nav-item .navbar-item-text {
    font-weight: bold;
    font-size: large;
    color: white;
}