body {
    background-image: url("../Images/Backgrounds/blue_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.navbar {
    background-color: darkblue;
    padding: 10px;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container .navbar-brand {
    width: 50px;
    height: 50px;
}

.navbar .container .navbar-title {
    font-weight: bold;
    font-size: x-large;
    color: white;
}

.navbar .container .dropdown .btn {
    color: white;
    background-color: purple;
    font-size: large;
    border: 1px solid white;
}

.navbar .container .dropdown .dropdown-menu {
    padding: 0;
    margin: 0;
    border: 2px solid black;
    border-radius: 0;
}

.navbar .container .dropdown .dropdown-menu .dropdown-item {
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
}

.navbar .container .dropdown .dropdown-menu li:nth-child(even) {
    background-color: #d0a0f0;
}

.navbar .container .dropdown .dropdown-menu li:nth-child(odd) {
    background-color: #a0d0f0;
}

.navbar .container .dropdown .dropdown-menu li:last-child {
    background-color: darkgrey;
}

.navbar .container .dropdown .dropdown-menu hr {
    padding: 0;
    margin: 0;
    height: 1px;
    background-color: black;
}

.banner, .searchbar {
    background-size: contain;
    width: 100%;
    max-height: 160px;
    padding: 10px;
}

.searchbar .input-group-text {
    background-color: purple;
    color: white;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
}

.searchbar .search-input {
    font-size: large;
    border: 2px solid black;
}

.searchbar .search-button {
    background-color: lightgrey;
    width: 50px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.searchbar .search-button:active {
    background-color: mediumpurple;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.searchbar .search-button .search-button-image {
    width: 70%;
    height: 70%;
}

.pizzas-container .complete-pizza {
    background-color: lightgrey;
    background-size: cover;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    height: fit-content;
    max-width: 400px;
    max-height: 400px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.pizzas-container .complete-pizza:hover {
    transform: scale(1.05);
    background-color: #d0a0f0;
}

.pizzas-container .complete-pizza .pizza-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 200px;
    padding: 5px;
}

.pizzas-container .complete-pizza .pizza-name {
    color: red;
    font-size: x-large;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
}

.pizzas-container .complete-pizza .pizza-cost {
    color: black;
    font-size: large;
    font-weight: bold;
    padding: 5px;
}

.pizzas-container .complete-pizza .pizza-counter {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: black;
    background-color: orange;
    width: 55%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
}

.pizzas-container .complete-pizza .pizza-counter img {
    height: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.pizzas-container .complete-pizza .pizza-counter img:active {
    transform: scale(0.95);
    background-color: orangered;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pizzas-container .complete-pizza .pizza-counter .pizza-count {
    background-color: white;
    width: 50px;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
}
